baseURL = 'https://shika-b.github.io/'
languageCode = 'en-us'
title = "Slow Data"

theme = 'hugo-bearblog'

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['$', '$']]
  [markup.goldmark.renderer]
      unsafe = true
[params]
  math = true
  description = ""
  author = "Shika"

